.root{
    -fx-font-size: 10pt;
    -fx-font-family: "B Nazanin";
}

.tab-pane .tab-header-area .tab {
    -fx-pref-height: 150;
    -fx-pref-width: 30;
    -fx-font-family: 'B Nazanin';

}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 5 0 0 5;
    -fx-alignment: Center;
    -fx-font-family: 'B Nazanin';
}

.tab {
    -fx-font: 16px 'B Nazanin';
}

.progress-bar:indeterminate .dot_1 {
    -fx-background-color: #1de82c;
}

.progress-bar:indeterminate .dot_2 {
    -fx-background-color: derive(#35b840, -15%);
}

.progress-bar:indeterminate .dot_3 {
    -fx-background-color: derive(#35b840, -30%);
}

.progress-bar:indeterminate .dot_4 {
    -fx-background-color: derive(#35b840, -45%);
}

.progress-bar:indeterminate .dot_5 {
    -fx-background-color: derive(#35b840, -60%);
}